# DATABASE_URL
DATABASE_URL="postgresql://dummy@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://dummy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_dummy

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET="dummy"
AUTH_TRUST_HOST=true